html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .9em;
}
.bg-black{
  background-color: black;
}
.bg-background{
  background-color: #ccc;
}
.header-image{
  height: 75px;
  width: 75px;
  position: relative;
  top: -20px;
}
.vertical-flip{
  transform: rotate(180deg);
}
.plaintext-link, .plaintext-link:hover{
  color: #1A1A1B;
  text-decoration: none;
}
.modlist-link, .modlist-link:hover{
  color: #FF4301;
  text-decoration: none;
}
.modlist-flairtext{
  font-size: .75em;
}
.post-container:hover{
  outline: 1px;
  outline-style: solid;
  outline-color: rgb(134, 134, 134);
}
.force-pointer:hover{
  cursor: pointer;
}
.bg-flairtext{
  background-color: #eeeeee;
}
.icon-right{
  position: relative;
  right: 0px;
}
.reddit-button{
  background-color: #FF4301;
  border-radius: 5px;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: 900;
  box-shadow: 0 0px;
  border: 0px;
}
.reddit-button:active{
  background-color: #CC3700;
}
.reddit-button:hover{
  opacity: .5;
  text-decoration: none;
  color: white;
}
.arrow-up-container{
  box-shadow: 0 0px;
  border: 0px;
  background-color: #F8F9FA;
}
.arrow-up-container:hover{
  color: rgb(155, 0, 0);
  background-color: #e4e4e4;
}
.arrow-up-container:active{
  background-color: rgb(177, 177, 177);
}
.arrow-down-container{
  box-shadow: 0 0px;
  border: 0px;
  background-color: #F8F9FA;
}
.arrow-down-container:hover{
  color: rgb(66, 66, 255);
  background-color: #e4e4e4;
}
.arrow-down-container:active{
  background-color: rgb(177, 177, 177);
}
.score-text{
  font-size: .75em;
  font-weight: 1000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
}
.post-text{
  line-height: 100%;
}
.post-header-text{
  font-size: .75em;
}
.footer-menu-button{
  box-shadow: 0 0px;
  border: 0px;
  background-color: white;
  border-radius: 3px;
  color: rgb(110, 110, 110);
  font-size: .75em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.footer-menu-button:hover{
  background-color: rgb(240, 239, 239);
}
.footer-drop-menu-item{
  width: 100px;
  color: gray;
  border: 1px solid rgb(110, 110, 110);
  z-index: 2000;
  text-align: left;
  position: absolute;
}
.footer-drop-menu-item:hover{
  background-color: rgba(219, 241, 255, 0.877);
  color: black;
}
.modal-footer-icon{
  font-size: 2.5em;
  color:#6C757D;
}
.modal-footer-icon:hover{
  color: #FF4301;
}
.modal-footer-icon:active{
  color: #CC3700;
}

