html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .75em;
}
.bg-black{
  background-color: black;
}
.bg-background{
  background-color: #ccc;
}
.header-image{
  height: 50px;
  width: 50px;
  position: relative;
  top: -10px;
}
.header-content{
  position: relative;
  left: -40px;
}
.vertical-flip{
  transform: rotate(180deg);
}
.plaintext-link, .plaintext-link:hover{
  color: black;
  text-decoration: none;
}
.modlist-link, .modlist-link:hover{
  color: #FF4301;
  text-decoration: none;
}